footer{
    position: fixed;
    bottom: 0px;
    background: #46B1C9;
    width: 100%;
    padding: 10px;
    color: #eaf8bf;
}
.footerURL{ 
    text-decoration: none;
    color: #eaf8bf;
}

.footerURL:hover{
    text-decoration: none;
    color: #eaf8bf;
}
body, html{
    background: #84C0C6;
    text-align: center;
    padding-top: 15px;
}
input{
    margin-left:5px;
}